*, *::after,*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.book-card img {
    width: 200px;
    height: 320px;
    object-fit: cover;
    
}

#library {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 2rem;
    padding: 2rem;
    
}

.book-card {
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: center;
    background: whitesmoke;
    border-radius: 10px;
  
}

.toggle-btn {
    background-color: #4CAF50;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.toggle-btn:hover {
    background-color: #45a049;
}

.read {
    color: green;
    font-weight: bold;

}

.unread {
    color: red;
    font-weight: bold;
}

.remove-btn {
    background-color: #ff4d4d;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.remove-btn {
    background-color: #ff1a1a;
}

.button-group {
    display: flex;
    gap: 0.5rem;
    text-align: center;
    justify-content: center;
}