*, *::after,*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}



body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: url(bookshelves2.jpg) no-repeat  center/cover;
    z-index: -1;
    pointer-events: none;
}

.book-card img {
    width: 200px;
    height: 320px;
    object-fit: cover;
    
}


#library {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 2rem;
    padding: 2rem;
    
}

.book-card {
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: center;
    background: whitesmoke;
    border-radius: 10px;
    transition: transform 0.2s ease, background-color 0.2s ease;
    
}

.toggle-btn {
    background-color: #4CAF50;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.2s ease;

}

.toggle-btn:hover {
    background-color: #45a049;
}

.read {
    color: green;
    font-weight: bold;

}

.unread {
    color: red;
    font-weight: bold;
}

.remove-btn {
    background-color: #ff1a1a;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    transition: background-color 0.2s ease;
    font-family: Arial, Helvetica, sans-serif;
}

.remove-btn:hover {
    background-color: #c70f0f;
}

.button-group {
    display: flex;
    gap: 0.5rem;
    text-align: center;
    justify-content: center;
}

.book-card:hover {
    transform: scale(1.1);
}

.book-card > * {
    margin-bottom: 0.5rem;
}

#new-book-btn {
    border: none;
    padding: 1rem 2rem;
    color: whitesmoke;
    border-radius: 4px;
    cursor: pointer;
    background-color:  #3b82f6; 
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease;
    font-weight: bold;
    letter-spacing: 0.5px;
    position: relative;
    
}

#new-book-btn:hover {
    background-color: #2563eb;
      
}

h1 {
    color: white;
    text-align: center;
}

#book-form {
   color: white;
   margin-top: 1rem;
}

.add  {
    border: none;
    padding: 1rem 1.5rem;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    background-color:  #3b82f6; 
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease;
}

.add:hover {
 background-color: #2563eb;
}

.book {
    position: absolute;
    width: 2.8rem;
    top: -0.9rem;
    right: -1.5rem;
    transform: rotate(-15deg);
    pointer-events: none;
}

.form-row {
    display: grid;
    grid-template-columns: minmax(100px, 150px) 1fr;
    align-items: start;
    margin-bottom: 0.7rem;
    gap: 0.5rem;
}

#book-form input[type="text"],
#book-form input[type="number"],
#book-form input[type="url"] {
    padding: 0.4rem;
    border-radius: 3px;
    border: none;
}

.form-row input[type="checkbox"] {
    justify-self: start;
    transform: scale(1.4);
    align-self: center;
    margin-left: 0;
}

.form-container {
    max-width: 350px;
    padding: 1rem;
    margin-left: 1rem;
   
}

@media (max-width: 400px) {
    .form-row {
        grid-template-columns: 1fr;
    }

    .form-row label {
        margin-bottom: 0.3rem;
    }
}

.toast {
    position: fixed;
    top: 1rem;
    right: 1rem;
    background: #3b89f6;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    display: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
